.main-container {
	/* border: solid brown 5px; */
	background-image: linear-gradient(180deg, #2fb7c3, #312d79);
	/* background-color: #191919; */
	width: 100%;
	display: table;
	padding: 5px;
	min-height: 100vh;
	padding-top: 100px;
}

.left-container {
	height: 100%;
	/* border: solid 5px red; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 1vh;
}

.right-container {
	height: 100%;
	/* border: solid 5px green; */
	padding: 1vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

#about-image {
	width: 100%;
	/* border: solid yellow 2px; */
	height: 500px;
}

.text-container {
	padding: 5vh;
}

.img-white-bg {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

@media screen and (max-width: 1024px) {
	.yourClass {
		display: none !important;
	}
}
