.navbar {
	background-color: #282832;
	border-radius: 0px;
	display: flex;
	vertical-align: baseline;
	align-content: center;
	justify-content: space-between;
	padding: 10px;
}

.border {
	border: solid 1px white;
}

.text-light {
	color: white;
}

.header {
	height: 100%;
}

.header_contents {
	display: flex;
	align-self: center;
	vertical-align: baseline;
	justify-content: center;
	cursor: pointer;
	align-content: center;
	align-items: center;
}

.header_contents > a {
	color: gray;
	transition: 300ms;
}

.header_contents > a:hover {
	color: white;
}

#profile-section {
	border: solid 1px white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	transition: 300ms;
	border-radius: 50px;
}

#profile-section:hover {
	border: solid 1px #16a085;
	background-color: #16a085;
}
