.navbar {
	background-color: #282832;
	border-radius: 0px;
	display: flex;
	/* border: solid 1px yellow; */
	margin: 0;
	vertical-align: baseline;
	align-content: center;
	box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);
	width: 100%;
	position: fixed;
	padding: 15px;
}

.border {
	border: solid 1px white;
}

.text-light {
	color: white;
}

.header {
	height: 100%;
}

.header_contents {
	display: flex;
	align-self: center;
	vertical-align: baseline;
	width: 90%;
	/* justify-content: center; */
	cursor: pointer;
	/* border: solid 1px pink; */
	align-content: center;
	align-items: center;
}

.header_contents > a {
	color: gray;
	transition: 300ms;
}

.header_contents > a:hover {
	color: white;
}

#nav-section {
	justify-content: center;
}

#account-section {
	justify-content: end;
}

#profile-section {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: center;
	color: white;
	transition: 300ms;
	border-radius: 50px;
}

#profile-section:hover {
	background-color: #6d6d72;
}
#profile-section:hover > #btn-logout {
	display: block;
}

#btn-logout {
	background-color: #c3362b;
	color: white;
	border-radius: 50px;
	transition: 300ms;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
	font-size: medium;
	outline: none;
}

#btn-logout:hover {
	background-color: #621b16;
}

#btn-logout:focus {
	outline: 0;
}

#btn-logout:active {
	color: white;
}

#logout-image {
	width: 100%;
}
