#main-block {
	background-image: linear-gradient(180deg, #cec6f7, #9d8df4);
	/* background-color: #f2f2f2; */
	min-height: 100vh;
	/* border: solid 2px red; */
	padding-top: 100px;
	display: flex;
}

.corner-blocks {
	/* border: solid 2px orangered; */
	width: 30%;
}

.center-block {
	/* border: solid 2px greenyellow; */
	width: 50%;
	padding: 10px;
}

#left-block {
	padding: 10px;
	margin-left: 5%;
}

#right-block {
	margin-right: 5%;
	padding: 10px;
}

#view-notes-filter {
	justify-content: space-between;
	padding: 10px;
	align-items: flex-end;
}

select {
	font-family: "Open Sans", sans-serif;
	padding: 1vh;
}

.custom-dropdown {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}

.line {
	border: solid 1px #cecfcf;
	margin: 1.5vh;
}

#courseDropdown {
	background-color: #323949;
	color: white;
	width: 100%;
}

#subjectDropdown {
	background-color: #2f3c5e;
	color: white;
	width: 100%;
}

#btn-search {
	padding: 1vh;
	width: 100%;
}

#loader {
	display: none;
}

#notesUploadSection {
	padding: 1vh;
}

#uploadDropdownCourse {
	background-color: #180f24;
	color: white;
	width: 100%;
}

#uploadDropdownSubject {
	background-color: #31253d;
	color: white;
	width: 100%;
}

/* ============================================= */

form {
	position: relative;
	width: 100%;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, #20a2e0, #66c4ce);
	height: 200px;
}
form > p {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 170px;
	color: #2f3c5e;
}
form input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}
#uploadButton {
	margin: 0;
	color: #fff;
	background: #3f51b5;
	padding: 1vh;
	border-radius: 5px;
	border: none;
	width: 100%;
	transition: 300ms;
	outline: none;
}
#uploadButton:hover {
	background-color: #142268;
}
form button:hover {
	background: #149174;
	color: #0c5645;
}
form button:active {
	border: 0;
}
.selectedFileItems {
	padding: 1vh;
	margin: 0.6vh;
	justify-content: space-between;
}

.progress-container {
	margin: 0;
	padding-left: 1vh;
	align-items: center;
	display: none;
	padding-right: 1vh;
}

.file-upload-progress {
	background-color: #0c5645;
	padding: 2px;
	height: 2px;
}

.searched-note {
	padding: 1vh;
	margin-top: 10px;
}

.download-btn {
	border-radius: 50px;
	text-decoration: none;
	color: white;
	margin-top: 10px;
	float: right;
	right: 0;
	transition: 300ms;
	background-color: #1d89e4;
}

.download-btn:hover {
	background-color: #0d4ba4;
	color: white;
}

.notes-tag-course {
	/* border: #0c5645 solid 1px; */
	background-color: #ffb934;
	color: #2f3c5e;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
}

.notes-tag-subject {
	/* border: #0c5645 solid 1px; */
	background-color: #3e50b4;
	cursor: pointer;
	color: whitesmoke;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
}

.notes-tag-uploader {
	background-color: #e85a56;
	cursor: pointer;
	color: whitesmoke;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
}

.notes-tag-time {
	background-color: #cec106;
	cursor: pointer;
	color: black;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
}

.note-tags-container {
	flex-direction: row;
}

.justify-content-sb {
	justify-content: space-between;
}

.notes-info-cell {
	margin: 0;
	padding: 10px;
}

.section-download {
	/* border: solid 1px red; */
}

.selected-file-item {
	align-items: center;
	vertical-align: middle;
	padding-left: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
}

.selected-file-item-uploaded,
.selected-file-item-loader,
.selected-file-item-remover {
	display: none;
}

.selected-file-item-progress-bar {
	padding: 2px;
	background-color: rgb(57, 192, 57);
}
