#main-block {
	/* background-image: linear-gradient(180deg, #053772, #00082f); */
	background-color: #f2f2f2;
	min-height: 100vh;
	/* border: solid 2px red; */
	padding-top: 100px;
	display: flex;
}

.corner-blocks {
	border: solid 2px orangered;
	width: 30%;
}

.center-block {
	border: solid 2px greenyellow;
	width: 50%;
	padding: 10px;
}

#left-block {
	padding: 10px;
	margin-left: 5%;
}

#right-block {
	margin-right: 5%;
	padding: 10px;
}

#view-notes-filter {
	justify-content: space-between;
	padding: 10px;
	align-items: flex-end;
}

select {
	font-family: "Open Sans", sans-serif;
	padding: 1vh;
}

.custom-dropdown {
	padding: 10px;
	border-radius: 5px;
}

.line {
	border: solid 1px #cecfcf;
	margin: 1.5vh;
}

#courseDropdown {
	background-color: #323949;
	color: white;
	width: 100%;
}

#subjectDropdown {
	background-color: #2f3c5e;
	color: white;
	width: 100%;
}

#btn-search {
	padding: 1.3vh;
}

#loader {
	display: none;
}
