{% extends 'base.html' %} {% block head %}
<title>Home | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/index.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/navbar.css') }}"
/>
<script src="{{ url_for('static',  filename='js/index.js') }}"></script>
<script src="{{ url_for('static',  filename='js/app.js') }}"></script>

<style>
	#hero-image-container {
		background: url("{{ url_for('static',  filename='images/background.jpg') }}");
		background-size: cover;
		background-position: center;
		min-height: 100vh;
	}
</style>
{% endblock %} {% block body %}
<!-- Navbar Start -->
<div class="navbar shadow">
	<div class="header_contents">
		<img
			src="{{ url_for('static',  filename='images/favicon.png') }}"
			alt=""
			width="30"
			height="30"
		/>
		&nbsp;&nbsp;
		<h4 class="header text-light font">College-Space</h4>
	</div>

	<div id="nav-section" class="header_contents">
		<a href="" class="btn font">Home</a>
		<a href="" class="btn font">Posts</a>
		<a href="" class="btn font">Notes</a>
		<a href="" class="btn font">About</a>
	</div>

	<div id="account-section" class="header_contents">
		<div id="profile-section">
			<img
				src="{{ url_for('static',  filename='images/user_icon.png') }}"
				alt=""
				id="profile-section-image"
				width="30"
				height="30"
			/>
			&nbsp;&nbsp;
			<h5 id="user-name" class="header font">Loading...</h5>
			&nbsp;&nbsp;
			<button
				id="btn-logout"
				data-toggle="modal"
				data-target="#logoutModal"
				class="btn font"
			>
				<h5>Logout</h5>
			</button>
		</div>
	</div>
</div>
<!-- Navbar Ends -->

<!-- Body Block Starts -->
<div id="body-block">
	<div class="corner-blocks" id="left-block">
		<div id="profile-info" class="shadow">
			<div id="profile-info-header" class="font">
				<img
					id="profile-info-image"
					src="{{ url_for('static',  filename='images/user_icon.png') }}"
					alt=""
					width="100"
					height="100"
				/>
			</div>
			<div id="profile-info-content">
				<center>
					<h4 class="font" id="profile-info-username">User Name</h4>
				</center>
				<center>
					<h5 class="font" id="profile-info-user-position">User Branch</h5>
				</center>
				<br />
				<hr class="line-break" />
				<center>
					<div class="full-width profile-info-attributes">
						<h5 class="font" style="color: gray">Uploaded Posts</h5>
						<h4 class="font" id="uploaded-posts-counter">0</h4>
					</div>
				</center>
				<hr class="line-break" />
				<center>
					<div class="full-width profile-info-attributes">
						<h5 class="font" style="color: gray">Uploaded Notes</h5>
						<h4 class="font" id="uploaded-notes-counter">0</h4>
					</div>
				</center>
			</div>
		</div>
	</div>
	<div class="center-block" id="mid-block">
		<!-- Upload Section -->
		<div id="upload-section" class="shadow">
			<div class="flexbox">
				<img
					src="{{ url_for('static',  filename='images/user_icon.png') }}"
					alt=""
					id="profile-section-image"
					width="50"
					height="50"
				/>
			</div>
			<div class="flexbox">
				<button
					class="custom-button font text-light"
					data-toggle="modal"
					data-target="#uploadModal"
				>
					Create a Post
				</button>
				&nbsp;&nbsp;&nbsp;
				<button class="custom-button3 font text-light">Upload Notes</button>
			</div>
		</div>

		<!-- Activities Section -->
		<br />
		<center><h3 class="text-dark font">Recent Activities</h3></center>
		<hr />
		<div id="activities-section"></div>
		<br />
	</div>
	<div class="corner-blocks" id="right-block">
		<!-- Shortcut Section -->
		<div id="shortcuts" class="shadow radius">
			<h4 class="font" style="font-weight: bold; margin: 0; padding: 20px">
				Shortcuts
			</h4>
			<hr class="line-break" />
			<div class="shortcut-card">
				<img
					src="{{ url_for('static',  filename='images/notes.png') }}"
					alt=""
					width="30"
					height="30"
				/>
				&nbsp;&nbsp;
				<h5 class="font">Notes</h5>
			</div>
			<div class="shortcut-card">
				<img
					src="{{ url_for('static',  filename='images/notice.png') }}"
					alt=""
					width="30"
					height="30"
				/>
				&nbsp;&nbsp;
				<h5 class="font">Notices</h5>
			</div>
			<div class="shortcut-card">
				<img
					src="{{ url_for('static',  filename='images/post.png') }}"
					alt=""
					width="30"
					height="30"
				/>
				&nbsp;&nbsp;
				<h5 class="font">Posts</h5>
			</div>
		</div>
	</div>
</div>
<!-- Body Block Ends -->

<!-- Upload Modal Starts -->
<div
	class="modal fade"
	id="uploadModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="uploadModal"
	aria-hidden="true"
>
	<div class="modal-dialog radius">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title font text-light" id="myModalLabel">
					Upload Something
				</h4>
			</div>
			<div class="modal-body">
				<textarea
					type="text"
					id="post_content"
					placeholder="Type Here"
					class="custom-input font"
				></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="font custom-button2" data-dismiss="modal">
					Close
				</button>
				<button
					id="btn_upload"
					type="button"
					class="custom-button font text-light"
					onclick="uploadPost()"
				>
					Upload Post
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Upload Modal Ends -->

<!-- Logout Modal Starts -->
<div
	class="modal fade"
	id="logoutModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="logoutModal"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<center>
					<h4 class="modal-title font text-light" id="myModalLabel">
						You'll be logged out
					</h4>
				</center>
			</div>
			<div class="modal-body">
				<img
					src="{{ url_for('static',  filename='images/see-you.jpg') }}"
					alt=""
					id="logout-image"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="font custom-button2" data-dismiss="modal">
					Cancel
				</button>
				<button
					id="btn_upload"
					type="button"
					class="custom-button font text-light"
					onclick="logout()"
				>
					Logout
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Logout Modal Ends -->
{%endblock %}
