{% extends 'base.html' %} {% block head %}
<title>Home | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/index.css') }}"
/>

<script src="{{ url_for('static',  filename='js/index.js') }}"></script>

<style>
	#hero-image-container {
		background: url("{{ url_for('static',  filename='images/background.jpg') }}");
		background-size: cover;
		background-position: center;
		min-height: 100vh;
	}
</style>
{% endblock %} {% block body %}

<!-- Body Block Starts -->
<div id="body-block">
	<div class="corner-blocks" id="left-block">
		<div id="profile-info" class="shadow">
			<div id="profile-info-header" class="font">
				<img
					id="profile-info-image"
					src="{{ url_for('static',  filename='images/user_icon.png') }}"
					alt=""
					width="100"
					height="100"
				/>
			</div>
			<div id="profile-info-content">
				<center>
					<h4 class="font" id="profile-info-username">User Name</h4>
				</center>
				<center>
					<h5 class="font" id="profile-info-user-position">User Branch</h5>
				</center>
				<br />
				<hr class="line-break" />
				<center>
					<div class="full-width profile-info-attributes">
						<h5 class="font" style="color: gray">Uploaded Posts</h5>
						<h4 class="font" id="uploaded-posts-counter">0</h4>
					</div>
				</center>
				<hr class="line-break" />
				<center>
					<div class="full-width profile-info-attributes">
						<h5 class="font" style="color: gray">Uploaded Notes</h5>
						<h4 class="font" id="uploaded-notes-counter">0</h4>
					</div>
				</center>
			</div>
		</div>
	</div>
	<div class="center-block" id="mid-block">
		<!-- Upload Section -->
		<div id="upload-section" class="shadow">
			<div class="flexbox">
				<img
					src="{{ url_for('static',  filename='images/user_icon.png') }}"
					alt=""
					id="profile-section-image"
					width="50"
					height="50"
				/>&nbsp;&nbsp;&nbsp;
				<h4 class="font" style="color: gray">Hey There</h4>
			</div>
			<div class="flexbox">
				<button
					class="custom-button font text-light"
					data-toggle="modal"
					data-target="#uploadModal"
				>
					Create a Post
				</button>
				&nbsp;&nbsp;&nbsp;
				<a
					href="/notes"
					style="text-decoration: none"
					class="custom-button3 font text-light"
					>Upload Notes</a
				>
			</div>
		</div>

		<!-- Activities Section -->
		<br />
		<center><h3 class="text-dark font">Recent Activities</h3></center>
		<hr />
		<div id="activities-section"></div>
		<br />
	</div>
	<div class="corner-blocks" id="right-block">
		<!-- Shortcut Section -->
		<div id="shortcuts" class="shadow radius">
			<h4 class="font" style="font-weight: bold; margin: 0; padding: 20px">
				Shortcuts
			</h4>
			<hr class="line-break" />
			<a href="/notes" style="text-decoration: none; color: gray">
				<div class="shortcut-card">
					<img
						src="{{ url_for('static',  filename='images/notes.png') }}"
						alt=""
						width="30"
						height="30"
					/>
					&nbsp;&nbsp;
					<h5 class="font">Notes</h5>
				</div>
			</a>
			<a href="/about" style="text-decoration: none; color: gray">
				<div class="shortcut-card">
					<img
						src="{{ url_for('static',  filename='images/about.png') }}"
						alt=""
						width="30"
						height="30"
					/>
					&nbsp;&nbsp;
					<h5 class="font">About</h5>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- Body Block Ends -->

<!-- Upload Modal Starts -->
<div
	class="modal fade"
	id="uploadModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="uploadModal"
	aria-hidden="true"
	data-backdrop="static"
>
	<div class="modal-dialog radius">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title font text-light" id="myModalLabel">
					Upload a Post or Image
				</h4>
			</div>
			<div class="modal-body">
				<div id="selected-image"></div>
				<div id="image-selector" class="" onclick="imagePicker()">
					<center>
						<img
							src="{{ url_for('static',  filename='images/add-image.png') }}"
							alt=""
							width="60"
							height="60"
						/>
						<h4 class="font text-secondary">Click here to add an Image</h4>
						<input
							type="file"
							id="image-selector-input"
							onchange="imageSelected()"
						/>
					</center>
				</div>
				<div id="area-selected-image"></div>
				<br />
				<textarea
					onkeyup="textAreaAdjust(this)"
					type="text"
					id="post_content"
					placeholder="Write something here"
					class="font"
				></textarea>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					onclick="closePostModal()"
					class="font custom-button2"
				>
					Close
				</button>
				<button
					id="btn_upload"
					type="button"
					class="custom-button font text-light"
					onclick="uploadPost()"
				>
					Upload Post
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Upload Modal Ends -->
{%endblock %}
