{% extends 'base.html' %} {% block head %}
<title>Home | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/index.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/navbar.css') }}"
/>
<script src="{{ url_for('static',  filename='js/index.js') }}"></script>

<style>
	#hero-image-container {
		background: url("{{ url_for('static',  filename='images/background.jpg') }}");
		background-size: cover;
		background-position: center;
		min-height: 100vh;
	}
</style>
{% endblock %} {% block body %}
<!-- Image and text -->
<div class="navbar">
	<div class="header_contents">
		<img
			src="{{ url_for('static',  filename='images/favicon.png') }}"
			alt=""
			width="30"
			height="30"
		/>
		&nbsp;&nbsp;
		<h4 class="header text-light font">College-Space</h4>
	</div>

	<div class="header_contents">
		<a href="" class="btn font">Home</a>
		<a href="" class="btn font">Posts</a>
		<a href="" class="btn font">Notes</a>
		<a href="" class="btn font">About</a>
	</div>

	<div id="profile-section" class="header_contents">
		<img
			src="{{ url_for('static',  filename='images/user_icon.png') }}"
			alt=""
			width="30"
			height="30"
		/>
		&nbsp;&nbsp;
		<h5 id="user-name" class="header font">Loading...</h5>
	</div>
</div>

<!-- Body Block -->
<div id="body-block">
	<!-- Shortcut Section -->
	<div id="shortcuts">
		<div class="shortcut-card">
			<img
				src="{{ url_for('static',  filename='images/notes.png') }}"
				alt=""
				width="50"
				height="50"
			/>
			&nbsp;&nbsp;
			<h4 class="font">Notes</h4>
		</div>
		<div class="shortcut-card">
			<img
				src="{{ url_for('static',  filename='images/notice.png') }}"
				alt=""
				width="50"
				height="50"
			/>
			&nbsp;&nbsp;
			<h4 class="font">Notices</h4>
		</div>
		<div class="shortcut-card">
			<img
				src="{{ url_for('static',  filename='images/post.png') }}"
				alt=""
				width="50"
				height="50"
			/>
			&nbsp;&nbsp;
			<h4 class="font">Posts</h4>
		</div>
		<div class="shortcut-card">
			<img
				src="{{ url_for('static',  filename='images/notification.png') }}"
				alt=""
				width="50"
				height="50"
			/>
			&nbsp;&nbsp;
			<h4 class="font">Notifications</h4>
		</div>
	</div>

	<!-- Upload Section -->
	<div id="upload-section">
		<h4 class="font">Upload Something</h4>
		<hr />
		<div id="upload-section-actions">
			<h5 class="font">Create a Post, Upload Notes or Publish a Notice</h5>
			<button
				class="custom-button font text-light"
				data-toggle="modal"
				data-target="#uploadModal"
			>
				Click Here
			</button>
		</div>
	</div>

	<!-- Activities Section -->
	<br />
	<div id="activities-section"></div>
	<br />
</div>

<div
	class="modal fade"
	id="uploadModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="uploadModal"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title font text-light" id="myModalLabel">
					Upload Something
				</h4>
			</div>
			<div class="modal-body">
				<textarea
					type="text"
					id="post_content"
					placeholder="Type Here"
					class="custom-input font"
				></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="font custom-button2" data-dismiss="modal">
					Close
				</button>
				<button
					id="btn_upload"
					type="button"
					class="custom-button font text-light"
					onclick="uploadPost()"
				>
					Upload Post
				</button>
			</div>
		</div>
	</div>
</div>
{%endblock %}
