{% extends 'base.html' %} {% block head %}
<title>Notes | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/notes.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/style.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/navbar.css') }}"
/>
<script src="{{ url_for('static',  filename='js/notes.js') }}"></script>

{% endblock %} {% block body %}
<div id="main-block">
	<div id="left-block" class="corner-blocks">
		<div class="card">
			<div id="view-notes-filter">
				<center><h3 class="font">Search Notes</h3></center>
				<hr class="line" />
				<div>
					<h5 class="font">Select Course</h5>
					<select
						onchange="loadSubjectList(true)"
						class="custom-dropdown"
						id="courseDropdown"
					>
						<option class="dropdownOptions" value="null">
							<h3 class="font">All</h3>
						</option>
					</select>
				</div>
				&nbsp;
				<div>
					<h5 class="font">Select Subject</h5>
					<select class="custom-dropdown" id="subjectDropdown">
						<option class="dropdownOptions" value="null">
							<h3 class="font">All</h3>
						</option>
					</select>
				</div>
				&nbsp;
				<button
					id="btn-search"
					onclick="searchSubject();"
					class="btn custom-button"
				>
					Search&nbsp;
					<i class="fas fa-search"></i>
				</button>
			</div>
			<center>
				<div id="loader" class="loader-container">
					<img
						src="{{ url_for('static',  filename='images/loader.gif') }}"
						alt=""
						height="40"
						width="40"
					/>
				</div>
			</center>
		</div>
	</div>
	<div class="center-block">
		<center><h4 class="font">Search Notes to see results</h4></center>
		<hr class="line-break" />
		<br />
		<div id="searched-notes-container">
			<div class="card searched-note" id="searched-note">
				<table style="width: 100%">
					<tr>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Course</h5>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Subject</h5>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Uploaded Date</h5>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Uploaded By</h5>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Action</h5>
								</div>
							</center>
						</td>
					</tr>
				</table>
			</div>
			<!-- <div class="card searched-note" id="searched-note">
				<div class="flexbox">
					<img
						src="/static/images/pdf.png"
						alt=""
						height="30"
						width="30"
					/>&nbsp;&nbsp;
					<h4 class="font">Name</h4>
				</div>
				<hr class="line-break" />
				<table style="width: 100%">
					<tr>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Course</h5>
									<h6 class="text-secondary">BCA</h6>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Subject</h5>
									<h6 class="text-secondary">BCA</h6>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Uploaded Date</h5>
									<h6 class="text-secondary">Time &#x25cf; Date</h6>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<div class="font">
									<h5 class="text-primary">Uploaded By</h5>
									<h6 class="text-secondary">User</h6>
								</div>
							</center>
						</td>
						<td class="notes-info-cell">
							<center>
								<a class="btn download-btn font" href="" target="_blank">
									Download&nbsp;&nbsp;<i class="fas fa-download"></i>
								</a>
							</center>
						</td>
					</tr>
				</table>
			</div> -->
		</div>
	</div>
	<div id="right-block" class="corner-blocks">
		<div class="card" id="notesUploadSection">
			<center><h3 class="font">Upload Notes</h3></center>
			<hr class="line" />
			<div>
				<h5 class="font">Select Course</h5>
				<select
					onchange="loadSubjectList(false)"
					class="custom-dropdown"
					id="uploadDropdownCourse"
				>
					<option class="dropdownOptions" value="null">
						<h3 class="font">Select Course</h3>
					</option>
				</select>
			</div>
			&nbsp;
			<div>
				<h5 class="font">Select Subject</h5>
				<select class="custom-dropdown" id="uploadDropdownSubject">
					<option class="dropdownOptions" value="null">
						<h3 class="font">Select Subject</h3>
					</option>
				</select>
			</div>
			&nbsp;
			<div>
				<h5 class="font">Select File</h5>
				<form id="uploadForm" action="upload.php" method="POST">
					<input type="file" multiple />
					<p class="font">Drag Files here or Click (Only PDFs)</p>
				</form>
				<div id="selectedFiles"></div>
				<br />
				<button
					id="uploadButton"
					class="font"
					type="submit"
					onclick="uploadNote()"
				>
					<i class="fas fa-upload"></i> Upload
				</button>
			</div>
		</div>
	</div>
</div>
{%endblock %}
