{% extends 'base.html' %} {% block head %}
<title>Notes | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/notes.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/style.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/navbar.css') }}"
/>
<script src="{{ url_for('static',  filename='js/notes.js') }}"></script>

{% endblock %} {% block body %}
<div id="main-block">
	<div id="left-block" class="corner-blocks"></div>
	<div class="center-block">
		<div class="card">
			<div id="view-notes-filter" class="flexbox">
				<div class="half-width">
					<h5 class="font">Course</h5>
					<select class="custom-dropdown" id="courseDropdown">
						<option class="dropdownOptions" value="Select Course">
							<h3 class="font">Select Course</h3>
						</option>
						<option class="dropdownOptions" value="BCA">
							<h3 class="font">BCA</h3>
						</option>
						<option class="dropdownOptions" value="B-Tech">
							<h3 class="font">B-Tech</h3>
						</option>
					</select>
				</div>
				&nbsp; &nbsp;
				<div class="half-width">
					<h5 class="font">Subject</h5>
					<select class="custom-dropdown" id="subjectDropdown">
						<option class="dropdownOptions" value="Select Course">
							<h3 class="font">Select Subject</h3>
						</option>
						<option class="dropdownOptions" value="BCA">
							<h3 class="font">C++</h3>
						</option>
						<option class="dropdownOptions" value="B-Tech">
							<h3 class="font">C</h3>
						</option>
					</select>
				</div>
				&nbsp; &nbsp;
				<button id="btn-search" class="btn custom-button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<hr class="line" />
	</div>
	<div id="right-block" class="corner-blocks"></div>
</div>
{%endblock %}
