{% extends 'base.html' %} {% block head %}
<title>Register | College-Space</title>
<link
	rel="stylesheet"
	href="{{ url_for('static',  filename='css/login.css') }}"
/>

<script type="text/javascript">
	const storage = window.localStorage;

	window.onload = function () {
		let token = storage.getItem("token");
		if (token !== null) {
			window.location.href = "/";
		}
	};

	// Method to validate inputs
	const validate = (data) => {
		if (
			data.email === null ||
			data.email === undefined ||
			data.email === "" ||
			data.password === null ||
			data.password === undefined ||
			data.password === "" ||
			data.name === null ||
			data.name === undefined ||
			data.name === ""
		) {
			return false;
		} else {
			return true;
		}
	};

	// Method for login
	const register = () => {
		loading(true);
		$("#login-form").submit(function (e) {
			e.preventDefault();
		});
		let data = {
			name: $("#inputName").val(),
			email: $("#inputEmail").val(),
			password: $("#inputPassword").val(),
		};

		if (validate(data)) {
			fetch("/api/register", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			})
				.then((response) => response.json())
				.then((data) => {
					$("#btn-submit").attr("disabled", true);
					loading(false);
					if (data.error) {
						banner(data);
						console.error("Error:", data);
					} else {
						banner(data);
						storage.setItem("token", JSON.stringify(data.data.token));
						setTimeout(() => {
							window.location.href = "/";
						}, 3000);
					}
				})
				.catch((error) => {
					loading(false);
					banner({ success: false, message: error.message });
					console.error("Error:", error);
				});
		} else {
			loading(false);
			banner({ success: false, message: "Fields Empty!" });
		}
	};

	// Loader
	const loading = (show) => {
		if (show) {
			$("#loader").css("display", "block");
		} else {
			$("#loader").css("display", "none");
		}
	};

	// Banner
	const banner = (data) => {
		if (data.success) {
			$("#banner").css("background-color", "#00aa8d");
			$("#banner").html(`<b>${data.message}</b>`);
			$("#banner").css("display", "block");
		} else {
			$("#banner").css("background-color", "#C62828");
			$("#banner").html(`<b>${data.message}</b>`);
			$("#banner").css("display", "block");
		}

		setTimeout(() => {
			$("#banner").css("display", "none");
		}, 2000);
	};
</script>

<style>
	#main-content {
		background: url("{{ url_for('static',filename='images/login_bg_alt.jpg') }}");
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
</style>
{% endblock %} {% block body %}
<div id="main-content">
	<div id="form-container" class="font">
		<div id="form-header">Register to College-Space</div>
		<br />
		<form id="login-form">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				<input type="text" class="form-control" id="inputName" />
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input
					type="email"
					class="form-control"
					id="inputEmail"
					aria-describedby="emailHelp"
				/>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="inputPassword" />
			</div>
			<br />
			<button id="btn-submit" onclick="register()" class="btn btn-primary">
				Register
			</button>
			<hr />
			<center>
				<a href="/login">Already a user? Click here to Login</a>
			</center>
		</form>
	</div>
</div>

<div id="loader">
	<img
		src="{{ url_for('static',  filename='images/loader.gif') }}"
		alt="Loading"
		width="30"
		height="30"
	/>
	&nbsp;<b>Loading...</b>
</div>

<div id="banner"></div>
{%endblock %}
